OCI_GENAI_API_KEY="sk-your-generative-ai-api-key" 
REGION="us-chicago-1" 
MODEL_ID="ocid1.generativeaiendpoint.oc1.us-chicago-1.your-endpoint-id"

# Optional
PROJECT_ID=""
OPENAI_BASE_URL="https://inference.generativeai.${REGION}.oci.oraclecloud.com/openai"
MODEL_TOKENIZER="Qwen/Qwen2.5-7B-Instruct" # Você pode manter esse ou achar um no hugging face que seja mais proximo ao modelo que você está usando
GENAI_BENCH_BIN="genai-bench"

# Benchmark profile
MAX_TIME_PER_RUN="20"
MAX_REQUESTS_PER_RUN="200"
TRAFFIC_SCENARIO="N(1000,200)/(120,40)"
CONCURRENCY_LEVELS="8 16 32 64 96"
